body {
    background-color: #D9D9D9;
}

header {
  position: fixed;  /* 位置を固定する */
  top: 0;  /* 固定する位置を指定 */
  left: 0;  /* 固定する位置を指定 */
  width: 100%;  /* ヘッダーの幅 */
  height: 130px;  /* ヘッダーの高さ */
  background: #ffffff;  /* 背景色 */
}

ul {
    display: flex;
}

nav {
    background-color: #ffffff;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a {
    display: block;
    padding: 10px;
    color: #000000;
}

.inheader {
    color: #000000;
}

h1 {
    padding: 5px 5px;
    margin: 5em 0;
    border: double 3px #ffffff;
    background-color: #262626;
    color: white;
    font-family: serif;
    text-align: center;
}

.subheader {
    background-image: url("../Website/picture file/webpic_E531.png");
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}

h2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: double 3px #ffffff;
    background-color: #262626;
    font-family: serif;
    color: #ffffff;
    text-align: center;
}

.Description {
    font: 1.2rem sans-serif;
    text-align: center;
}

footer p {
    background-color: #fff;
    padding: 1em;
    text-align: center;
}

.site_news {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: double 3px #000000;
    background-color: #262626;
    font-family: serif;
    color: #ffffff;
    text-align: center;
}

.mean {
    text-align: center;
}

.ico {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

h3 {
    margin: 0 auto;
    width: 300px;
    font-family: serif;
    text-align: center;
    background-color: #262626;
    color: #ffffff;
    align-content: center;
}

.site {
    width: 830px;
    height: 430px;
    object-fit: cover;
}

.map {
    text-align: center;
}

.sitemap {
    text-align: center
}